#map-section {
    margin-top: 100px;
}

#organizer-section {
    margin-top: 100px;
    margin-bottom: 100px;
}

.image-section {
    height: 550px;
    background-color: #f3f3f3;
}

.tickets-section {
    max-width: 1044px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
}

.description {
    margin-top: 50px;
    max-width: 1044px;
}

#map {
    height: 450px;
}

.organizer-contact {
    height: 200px;
}

.tickets-available-card {
    margin: auto;
}

.button {
    margin-top: 30px;
}

.button-checkout {

}

.event-title {
    padding-top: 245px;
    font-size: 45px;
}

.login-signup-card {
    top: 50%;
    left: 50%;
    width: 330px;
    height: 280px;
    margin-top: -170px;
    margin-left: -165px;
    position: fixed;
}

.event-organizer {
    margin-top: 15px;
}

.table-tickets {
    max-width: 50%;
    margin: auto;
}

.logo-brand {
    height: 35px;
    width: auto;
}

.mdl-layout__header {
    background-color: #424242;
}

.login-headline {
    font-size: 30px;
    padding-bottom: 25px;
}

.signup-text {
    margin-top: 15px;
}

.index-image-section {
    height: 800px;
    background: linear-gradient(
            rgba(0, 0, 0, .5),
            rgba(0, 0, 0, .5)),
    url(../image/background-min.jpeg) no-repeat center;
    background-size: cover;
}

.text-image_section {
    padding-top: 350px;
    color: #FFFFFF;
}

.index-one-line-section {
    height: 160px;
    background-color: #f3f3f3;
}

.index-one-line-section p {
    padding-top: 60px;
}

.contact-max-width {
    max-width: 1044px;
    margin: 50px auto 100px;
}

.contact-max-width form {
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 550px;
    margin: auto;
}

.upcoming-events-section {
    padding-top: 50px;
    max-width: 1044px;
    margin: auto;
}

.contact-max-width .mdl-card__supporting-text {
    width: 100%;
}

.mdl-textfield {
    width: 100%;
}

.header-section .mdl-layout__header .mdl-navigation__link:hover {
    border-bottom: 2px solid #fff;
}

.index-event-card {
    margin: 10px;
}

.text-index {
    margin-top: 8px;
}

.index-button button {
    color: #fff;
}

.index-mobile-app {
    padding-top: 50px;
    max-width: 1044px;
    margin: auto;
    height: 500px;
}

.features-section {
    padding-top: 50px;
    max-width: 1044px;
    margin: auto;
}

.page-content {
    height: 100%;
}
.mdl-progress {
    width: 100%;
}

.overview-section {
    height: 150px;
    background-color: #f3f3f3;
}