<!DOCTYPE html>
<html lang="en">
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
        <h4>Add an attendee</h4>
    </div>
</div>
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="firstname"/>
            <label class="mdl-textfield__label" for="firstname">First basicName</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="secondname"/>
            <label class="mdl-textfield__label" for="secondname">Second basicName</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="email"/>
            <label class="mdl-textfield__label" for="email">Email</label>
        </div>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            Add an attendee
        </button>
    </div>
</div>
</html>