<!DOCTYPE html>
<html lang="en">
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
        <h4>Attendees</h4>
    </div>
</div>
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col">
        <h6>Attendees: 4</h6>
        <h6>Checked-in: 3</h6>
    </div>
</div>
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
            <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric">ID</th>
                <th class="mdl-data-table__cell--non-numeric">First name</th>
                <th class="mdl-data-table__cell--non-numeric">Second name</th>
                <th class="mdl-data-table__cell--non-numeric">Email</th>
                <th class="mdl-data-table__cell--non-numeric">Tickets</th>
                <th class="mdl-data-table__cell--non-numeric">Status</th>
                <th class="mdl-data-table__cell--non-numeric">Edit</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="mdl-data-table__cell--non-numeric">324</td>
                <td class="mdl-data-table__cell--non-numeric">John</td>
                <td class="mdl-data-table__cell--non-numeric">Lennon</td>
                <td class="mdl-data-table__cell--non-numeric">john.lennon@gmail.com</td>
                <td class="mdl-data-table__cell--non-numeric">Student</td>
                <td class="mdl-data-table__cell--non-numeric">Not checked-in</td>
                <td class="mdl-data-table__cell--non-numeric">Edit</td>
            </tr>
            <tr>
                <td class="mdl-data-table__cell--non-numeric">545</td>
                <td class="mdl-data-table__cell--non-numeric">Paul</td>
                <td class="mdl-data-table__cell--non-numeric">McCartney</td>
                <td class="mdl-data-table__cell--non-numeric">paul.2353ffg@gmail.com</td>
                <td class="mdl-data-table__cell--non-numeric">VIP</td>
                <td class="mdl-data-table__cell--non-numeric">Checked-in</td>
                <td class="mdl-data-table__cell--non-numeric">Edit</td>
            </tr>
            <tr>
                <td class="mdl-data-table__cell--non-numeric">76</td>
                <td class="mdl-data-table__cell--non-numeric">George</td>
                <td class="mdl-data-table__cell--non-numeric">Harrison</td>
                <td class="mdl-data-table__cell--non-numeric">harrison.gerge@gmail.com</td>
                <td class="mdl-data-table__cell--non-numeric">VIP</td>
                <td class="mdl-data-table__cell--non-numeric">Checked-in</td>
                <td class="mdl-data-table__cell--non-numeric">Edit</td>
            </tr>
            <tr>
                <td class="mdl-data-table__cell--non-numeric">388</td>
                <td class="mdl-data-table__cell--non-numeric">Ringo</td>
                <td class="mdl-data-table__cell--non-numeric">Starr</td>
                <td class="mdl-data-table__cell--non-numeric">starr.rt12@gmail.com</td>
                <td class="mdl-data-table__cell--non-numeric">VIP</td>
                <td class="mdl-data-table__cell--non-numeric">Checked-in</td>
                <td class="mdl-data-table__cell--non-numeric">Edit</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</html>