<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div>
    <div class="overview-section mdl-grid">
        <div class="mdl-cell mdl-cell--6-col">
            <h4>Overview</h4>
            <span class="mdl-chip">
                <span class="mdl-chip__text">Live</span>
            </span>
        </div>
        <div class="mdl-cell mdl-cell--6-col">
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect">
                goevent.com.ua/events/1285
            </button>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                Unpublish
            </button>
        </div>
    </div>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--6-col">
            <h6>Revenue: 1000 UAH</h6>
            <h6>Tickets sold: 20/100</h6>
        </div>
    </div>
</div>
</html>