<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue_grey-green.min.css"/>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css"/>
    <link type="text/css" rel="stylesheet" href="../public/css/style.css"/>
    <script src="../public/js/material.min.js"></script>
    <script src="../public/js/jquery-3.1.1.min.js"></script>
    <meta charset="UTF-8"/>
    <title>Goevent - Dashboard</title>
</head>
<body>
<div class="header-section mdl-layout mdl-js-layout">
    <div th:replace="index :: header"></div>
    <div class="mdl-layout__content">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col">
                <h4>Dashboard</h4>
            </div>
        </div>
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--3-col">
                <div class="demo-card-wide mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__title">
                        <h4 class="mdl-card__title-text">Exilir club 2016</h4>
                    </div>
                    <div class="mdl-card__subtitle-text">
                        <h6>Sat, January 28, 2017 10:00 AM – 7:00 PM EET</h6>
                    </div>
                    <div class="mdl-card__supporting-text">
                        Come together Elixir programmers! New Kyiv Elixir meetup in the 2017 Year will happen on 28th
                        January. We are working for an interesting program and want to do create something special. Keep
                        in
                        touch ;)
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                            Manage
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>