<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue_grey-green.min.css"/>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css"/>
    <link type="text/css" rel="stylesheet" href="../public/css/style.css"/>
    <script src="../public/js/material.min.js"></script>
    <script src="../public/js/jquery-3.1.1.min.js"></script>
    <meta charset="UTF-8"/>
</head>
<body>
<div th:replace="manage :: header"></div>
<div class="mdl-grid">
    <div class="login-signup-card mdl-cell mdl-cell--12-col">
        <p class="login-headline mdl-typography--headline mdl-typography--font-thin mdl-typography--text-center">Successful registration!</p>
        <p class="signup-text mdl-typography--text-center">Please, <a th:href="@{/signin}">Sign in</a>
        </p>
    </div>
</div>
</body>
</html>